@function num($n){
	@return $n/20;
}
*{
	padding:0;
	margin:0;
}
html,body{
	height:100%;
	background:#f6f6f6;
}
 #twxqq{
                width:100%;
                height:num(40rem);
                background:white;
                border-bottom:num(1rem) solid #ccc;
                position:fixed;
                left:0;
                top:0;
                z-index:1000;
                .twxqq1{
                  width:30%;
                  text-align:center;
                  float:left;
                  line-height:num(40rem);
                  margin-right:num(10rem);
                  span{
                    font-size:num(13rem);
                    color:#ff9ad4;
                  }
                }
                .twxqq2{
                  width:30%;
                  text-align:center;
                  float:left;
                  line-height:num(40rem);
                  margin-right:num(10rem);
                  span{
                    font-size:num(13rem);
                    color:#333;
                  }
                }
                .twxqq3{
                  width:30%;
                  text-align:center;
                  line-height:num(40rem);
                  float:left;
                  span{
                    font-size:num(13rem);
                    color:#333;
                  }
                }
               }
.header{
    width:100%;
	height:100%;
	display:flex;
	box-sizing:border-box;
	flex-direction:column;
	flex:1;
	.tp{
	   width:100%;
	   background:white;
	   .yf{
		   width:100%;
		   height:num(480rem);
	   }
	   .nza{
	      display:block;
	      font-size:num(14rem);
	      color:#424242;
	      width:90%;
	      height:num(32rem);
	      margin:num(14rem) num(14rem);
	   }
	   .jg{
	       width:90%;
	       height:num(30rem);
	       margin:0 auto;
	       .qb{
	           float:left;
		       font-size:num(11rem);
		       color:#333;
	       }
	       .qb1{
	            float:left;
	       		color:#333;
	       		font-size:num(22rem);
	       }
	       .sxb{
	          width:num(48rem);
	          height:num(28rem);
	          float:left;
	          margin-top:num(-5rem);
	          margin-left:num(5rem);
	          .yyy{
	            color:#999;
	            text-decoration:line-through;
	            font-size:num(10rem);
	       }
	       .qz{
	       		width:num(27rem);
	       		height:num(14rem);
	       		background:#ffe8ee;
	       		color:#ff2255;
	       		font-size:num(11rem);
	       		text-align:center;
	       		line-height:num(14rem);
	       		margin-top:num(-5rem);
	       }
	       } 
	   }
	   .myf{
	       width:90%;
	       margin:num(10rem) auto;
	       span{
	       display:block;
	       font-size:num(11rem);
	       color:#b2b299;
	       }
	    }
	    .xiana{
	     	width:95%;
	     	margin-left:num(16rem);
	     	border-bottom:num(1rem) solid #ccc;
	    }
	    .yiqi{
	     width:90%;
	     margin:num(10rem) auto;
	     img{
	        width:num(15rem);
	        height:num(13rem);
	     }
	     span{
	     	font-size:num(11rem);
	     	color:#333;
	     }
	     .im3{
            margin-left:num(15rem);
	     }
	     .im4{
	         width:num(8rem);
	         height:num(16rem);
	         float:right;
	         margin-top:num(6rem);

	     }
	}
}

         .yhhd{
	         width:100%;
	         margin-top:num(10rem);
	         background:white;
	         .yh7{
                width:90%;
                margin:0 auto;
                .yha{
	                color:#999;
	                font-size:num(11rem);
                }
	         }
	       	  .lj{
		          width:100%;
		          margin:num(10rem) 0 num(80rem) num(15rem);
		          .lj1{
		          		width:num(70rem);
		          		background:#ff5479;
		          		float:left;
		          		margin-right:num(5rem);
		          		box-shadow: 0 num(5rem) num(5rem)  #ff5479;
		          		span{
		          		color:white;
		          		}
		          		.spp1{
		          		display:block;
		          		font-size:num(9rem);
		          		float:left;
		          		margin-left:num(15rem);
		          		margin-top:num(5rem);
		          		}
		          		.spp2{
		          		display:block;
		          		font-size:num(15rem);
		          		padding-top:num(2.5rem);
		          		}
		          		.spp3{
		          		font-size:num(12rem);
		          		
		          		}
		            }

		         }
               .xianna{
                  clear:both;
                  width:93%;
                  margin:0 auto;
                  border-bottom:num(1rem) solid #ccc;
               } 
                .baoguo{
 				   width:90%;
 				   margin:num(10rem) auto;
 				   .mj1{
 				        background:#f86f1a;
 				        width:num(40rem);
 				        height:num(15rem);
 				        color:white;
 				        font-size:num(13rem);
 				        text-align:center;
 				        line-height:num(15rem);
 				        border-radius:num(2rem);
 				        float:left;
 				        margin-right:num(2rem);
 				        margin-top:num(2rem);
 				   }
 				   .mj2{
 				        background:#8b4efc;
 				        width:num(40rem);
 				        height:num(15rem);
 				        color:white;
 				        font-size:num(13rem);
 				        text-align:center;
 				        line-height:num(15rem);
 				        border-radius:num(2rem);
 				        float:left;
 				        margin-top:num(5rem);
 				        margin-right:num(2rem);
 				   }
 				   .mej{
 				        color:#999;
 				        font-size:num(13rem);
 				        display:block;
 				   }
 				   .mlby{
 				        color:#999;
 				        font-size:num(13rem);
 				        margin-top:num(3rem);
 				        display:block;
 				   }
 				   .tck{
 				      float:right;
 				      margin-top:num(-10rem);
              a{
              text-decoration:none;
 				      span{
 				        font-size:num(13rem);
 				        color:#999;
 				      }
              }
 				      img{
 				         width:num(7rem);
 				         height:num(13rem);
 				      }
 				   }
               }
         }
            .qxzys{
               width:100%;
               height:num(38rem);
               background:white;
               margin-top:num(10rem);
               margin-bottom:num(10rem);
               span{
               color:#666;
               font-size:num(13rem);
               float:left;
               margin-left:num(15rem);
               }
               img{
               width:num(7rem);
               height:num(15rem);
               float:right;
               margin-right:num(15rem);
               }
            }
            .maip{
               width:100%;
               background:white;
               .pl{
               width:90%;
               margin:0 auto;
	               span{
	               color:#999;
	               font-size:num(10rem);
	                }
               }
               .pjwm{
                   width:90%;
                   margin:0 auto;
	               .pja{
	                width:num(65rem);
	                height:num(17rem);
	                background:#ffe8ee;
	                text-align:center;
	                line-height:num(17rem);
	                margin:num(10rem) num(5rem) 0 0;
	                float:left;
	                 span{
	                 display:block;
	                 font-size:num(12rem);
	                 color:#ff2255;
	                 }  
                         }
                    .pja1{
	                    @extend .pja;
	                    margin-bottom:num(20rem);  
                     }
               }
               .tx{
                  clear:both;
                  .matt{
                    width:90%;
                    margin:0 auto;
                    .mat{
                      width:num(29rem);
                      height:num(28rem);
                      float:left;
                      img{
                      width:100%;
                      height:100%;
                      border-radius:50%;
                         }
                    }
                    span{
                      color:#424242;
                      font-size:num(14rem);
                      margin-left:num(10rem);
                    }
                  }
                  .echg{
                      clear:both;
                      color:#727272;
                      font-size:num(11rem);
                      display:block;
                      margin-left:num(16rem);
                      margin-top:num(10rem);
                  }
                  .echg1{
                      color:#999;
                      font-size:num(11rem);
                      margin-left:num(16rem);
                  }
               }
               .xianna11{
                  width:90%;
                  margin:num(10rem) auto;
                  border-bottom:num(1rem) solid #ccc;
               } 

            }

            .dianpu{
               width:100%;
               background:white;
               margin-top:num(10rem);
               .ndd{
                 width:90%;
                 margin:num(18rem) auto;
                 .nd{
                   width:num(41rem);
                   height:num(41rem);
                   float:left;
                   margin-right:num(10rem);
                  img{
                    width:100%;
                    height:100%;
                  }
                 }
                 span{
                  font-size:num(13rem);
                  color:#333;
                 }
                  .xingxing{
                   width:num(110rem);
                   height:num(12rem);
                   background:url(../image/xbt2.png) no-repeat  left top;
                   margin-left:num(50rem);
                    }
                    .jdaa{
                        width:num(58rem);
                        height:num(26rem);
                        border-radius:num(2rem);
                        border:num(1rem) solid #ff5777;
                        font-size:num(11rem);
                        color:#ff5777;
                        text-align:center;
                        line-height:num(26rem);
                        float:right;
                        margin-top:num(-35rem);
                    }
               }
               .sge{
                  width:100%;
                  .sge1{
                     width:30%;
                     height:num(58rem);
                     border-right:num(1rem) solid #e5e5e5;
                     margin-bottom:num(10rem);
                     float:left;
                     text-align:center;
                     span:nth-child(1){
                        color:#333;
                        font-size:num(12rem);
                        display:block;
                     }
                     span:nth-child(2){
                        color:#e5e5e5;
                        font-size:num(11rem);
                     }
                  }
                  .sge2{
                     width:30%;
                     height:num(58rem);
                     border-right:num(1rem) solid #e5e5e5;
                     float:left;
                     margin-bottom:num(10rem);
                     text-align:center;
                     span:nth-child(1){
                        color:#333;
                        font-size:num(12rem);
                        display:block;
                     }
                     span:nth-child(2){
                        color:#e5e5e5;
                        font-size:num(11rem);
                     }
                  }
                  .sge3{
                     width:30%;
                     height:num(58rem);
                     float:left;
                     margin-bottom:num(10rem);
                     margin-left:num(10rem);
                     text-align:center;
                     .a1{
                      width:100%;
                      height:num(19rem);
                     .sge3son1{
                        color:#e5e5e5;
                        font-size:num(12rem);
                        float:left;
                     }
                     .sge3son2{
                        color:#f13e3a;
                        font-size:num(11rem);
                        margin-left:num(5rem);
                        float:left;
                     }
                     }
                     .a2{
                      width:100%;
                      height:num(19rem);
                     .sge3son3{
                        color:#e5e5e5;
                        font-size:num(12rem);
                        float:left;
                     }
                     .sge3son4{
                       float:right;
                        color:#f13e3a;
                        font-size:num(11rem);
                        margin-left:num(5rem);
                        float:left;
                     }
                     }
                    .a3{
                      width:100%;
                      height:num(19rem);
                     .sge3son5{
                        color:#e5e5e5;
                        font-size:num(12rem);
                        float:left;
                     }
                     .sge3son6{
                        color:#f13e3a;
                        font-size:num(11rem);
                        margin-left:num(5rem);
                        float:left;
                     }
                     }
                  }
               }
            }
            .cbd{
               width:100%;
               background:white;
               margin-top:num(10rem);
               #twxq{
                width:100%;
                height:num(40rem);
                background:white;
                border-bottom:num(1rem) solid #ccc;
                margin-bottom:num(10rem);
                .twxq1{
                  width:30%;
                  text-align:center;
                  float:left;
                  line-height:num(40rem);
                  margin-right:num(10rem);
                  span{
                    font-size:num(13rem);
                    color:#ff9ad4;
                  }
                }
                .twxq2{
                  width:30%;
                  text-align:center;
                  float:left;
                  line-height:num(40rem);
                  margin-right:num(10rem);
                  span{
                    font-size:num(13rem);
                    color:#333;
                  }
                }
                .twxq3{
                  width:30%;
                  text-align:center;
                  line-height:num(40rem);
                  float:left;
                  span{
                    font-size:num(13rem);
                    color:#333;
                  }
                }
               }
               .kuangkuang{
                  width:90%;
                  margin:0 auto;
                  .kk1{
                     margin:num(10rem) auto;
                     width:num(73rem);
                     height:num(2rem);
                     background:#a3a3a5;
                     display:inline-block;
                     position:relative;
                     .xian1{
                     display:block;
                     width:num(4rem);
                     height:num(4rem);
                     border-radius:num(0.2rem);
                     background:black;
                     position:absolute;
                     top:num(-1rem);
                     }
                  }
                  .xku{
                     font-size:num(10rem);
                     color:#a3a3a5;
                  }
                  .kk2{
                     margin:num(10rem) auto;
                     width:num(73rem);
                     height:num(2rem);
                     background:#a3a3a5;
                     float:right;
                     display:inline-block;
                     position:relative;
                     .xian2{
                     display:block;
                     float:right;
                     width:num(4rem);
                     height:num(4rem);
                     border-radius:num(0.2rem);
                     background:black;
                     position:absolute;
                     top:num(-1rem);
                     right:0;
                     }
                  }
               }
               .ziti{
                 clear:both;
                 width:90%;
                 margin:num(5rem) auto;
                 font-size:num(13rem);
                 color:black;
               }
               .cz{
                 width:100%;
                 height:100%;
                 margin-bottom:num(1rem);
                 overflow:hidden;
                 img{
                   width:100%;
                   height:100%;
                 }
               }
               .ziti1{
                 clear:both;
                 width:90%;
                 margin:0 auto num(5rem) auto;
                 font-size:num(13rem);
                 color:black;
               }
               .ziti2{
                 clear:both;
                 width:90%;
                 margin:0 auto num(5rem) auto;
                 font-size:num(13rem);
                 color:#999;
               }
               .bg{
				width:90%;
				margin:0 auto;
				table{
	            width:100%;
	            height:100%;
	            border-collapse:collapse;
	             td{
	          	border-bottom:num(1rem) solid #cccccc;
	          	font-size:num(12rem);
	           color:#727272;
	           padding:num(10rem);
	            }
	            .tr1{
	      	color:#eb4868;
	      }
 }
			
}
		.xiamian{
			width:100%;
			  .zjk{
	            width:90%;
	         	margin:num(20rem) auto;
	         	overflow:hidden;
		         	.qba{
					width:30%;
					height:100%;
					float:left;
					margin-right:num(15rem);
						.xiamian1{
						width:100%;
						height:100%;
						.tiy{
						width:100%;
						height:100%;
						}
							}
						.xiamian2{
						position:relative;
					    width:100%;
					    height:100%;
					    .xinkuana{
			            white-space:nowrap;
			            overflow:hidden;
			            text-overflow:ellipsis;
			            display:block;
			            font-size:num(11rem);
			            color:#5e5e5e;
					    }
					.xinkuana1{
						font-size:num(11rem);
			            color:#5e5e5e;
					   }
					.xinkuana2{
						position:absolute;
						right:num(20rem);
						bottom:num(4rem);
						width:num(12rem);
						height:num(12rem);
					}
					.xinkuana3{
						font-size:num(11rem);
			            color:#5e5e5e;
			            position:absolute;
						right:num(5rem);
						bottom:num(2rem);
					    }
		            }
		
	        }
				.qba1{
				  @extend .qba;
                  margin-right:num(-15rem);
				}
            }
         }
    }
    }

.end{
  clear:both;
	height:num(42rem);
	width:100%;
	border:num(1rem) solid #c9c7c8;
	background:white;
	position:fixed;
	left:0;
	bottom:0;
	box-sizing:border-box;
	.end1{
	 width:50%;
	 height:100%;
   display:inline-block;
	 .s1{
	    width:30%;
      float:left;
      height:num(42rem);
      border-right:num(1rem) solid #c9c7c8;
	    .s11{
	      font-size:num(11rem);
        font-family:"iconfont";
        display:block;
        text-align:center;
        line-height:num(15rem);
        margin-top:num(5rem);
	    }
	 }
   .s2{
      float:left;
      width:30%;
      height:num(42rem);
      border-right:num(1rem) solid #c9c7c8;
      .s12{
        font-size:num(11rem);
        font-family:"iconfont";
        display:block;
        text-align:center;
        line-height:num(15rem);
        margin-top:num(5rem);
      }
   }
   .s3{
      float:left;
      width:30%;
      .s13{
        font-size:num(11rem);
        font-family:"iconfont";
        display:block;
        text-align:center;
        line-height:num(15rem);
        margin-top:num(5rem);
        margin-left:num(10rem);
      }
   }
	}
      .end2{
       clear:both;
       float:right;
        width:50%;
        height:num(42rem);
        .jrgwc{
           width:50%;
           height:100%;
           background:#ffe6e8;
           color:#ff5777;
           font-size:num(11rem);
           float:left;
           display:block;
           line-height:num(42rem);
           text-align:center;
        }
        .lijgoumai{
            width:50%;
            height:100%;
            display:block;
            background:#ff547b;
            color:white;
            font-size:num(11rem);
            text-align:center;
            line-height:num(42rem);
            float:left; 
        }
      }
}