* {
  padding: 0;
  margin: 0; }

html, body {
  height: 100%;
  background: #f6f6f6; }

.header {
  widht: 100%;
  background: white;
  margin-bottom: 0.5rem; }
  .header .ssk {
    width: 100%;
    height: 2rem; }
  .header .dhk {
    width: 1.6rem;
    height: 1.5rem;
    float: left;
    margin: 0.25rem 0.5rem 0.25rem 0.5rem; }
    .header .dhk img {
      width: 100%;
      height: 100%; }
  .header .lbwx {
    width: 10.75rem;
    border: 0.05rem solid #eee;
    float: left;
    height: 1.35rem;
    position: relative;
    background: #eee;
    margin-top: 0.25rem; }
    .header .lbwx .tp {
      width: 0.75rem;
      height: 0.75rem;
      float: left;
      margin-left: 0.5rem; }
      .header .lbwx .tp img {
        width: 100%;
        height: 100%; }
    .header .lbwx input {
      position: absolute;
      background: #eee;
      right: 0;
      bottom: 0;
      float: right;
      height: 1.2rem;
      width: 9.25rem;
      border: none;
      outline: none; }
  .header .gwc {
    width: 1.1rem;
    height: 1.05rem;
    float: right;
    margin-top: 0.4rem;
    margin-right: 0.75rem; }
    .header .gwc img {
      width: 100%;
      height: 100%; }
  .header .dtu {
    width: 100%;
    height: 100%; }
    .header .dtu img {
      width: 100%;
      height: 100%; }
  .header .dsk {
    width: 100%; }
    .header .dsk .dyk {
      width: 30%;
      float: left;
      color: #ff9954;
      font-size: 0.6rem;
      text-align: center;
      margin-left: 0.35rem; }
  .header .dpp {
    clear: both;
    width: 100%; }
    .header .dpp .dpa, .header .dpp .dpa1 {
      display: inline-block;
      width: 30%;
      margin-left: 0.25rem;
      border-right: 0.05rem solid #ccc; }
      .header .dpp .dpa span, .header .dpp .dpa1 span {
        display: block;
        font-size: 0.6rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center; }
      .header .dpp .dpa img, .header .dpp .dpa1 img {
        width: 100%;
        height: 100%; }
    .header .dpp .dpa1 {
      border: none; }

.center {
  width: 100%;
  background: white;
  overflow: hidden;
  margin-bottom: 0.5rem; }
  .center .center1 {
    width: 90%;
    margin: 0 auto; }
    .center .center1 .ziti span {
      font-size: 0.7rem;
      float: left;
      margin-right: 0.5rem;
      margin-top: 0.25rem; }
    .center .center1 .ziti span:nth-child(2) {
      display: block;
      width: 0.15rem;
      height: 0.15rem;
      background: black;
      margin-top: 0.75rem; }
    .center .center1 #djs {
      color: #ccc; }
      .center .center1 #djs #sp1, .center .center1 #djs #sp2, .center .center1 #djs #sp3 {
        font-size: 0.7rem;
        color: white;
        float: left;
        margin-right: 0.5rem;
        margin-top: 0.25rem;
        background: black;
        border-radius: 0.25rem;
        width: 1.1rem;
        height: 1rem;
        text-align: center;
        line-height: 1rem; }
      .center .center1 #djs .spp1 {
        float: left;
        margin-left: -0.4rem; }
    .center .center1 .mode {
      float: right;
      width: 2.1rem;
      height: 0.5rem; }
      .center .center1 .mode img {
        width: 100%;
        height: 100%; }
  .center .tpia {
    width: 100%;
    overflow: hidden; }
    .center .tpia .tppp {
      margin-left: 0.5rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      width: 30%;
      float: left; }
      .center .tpia .tppp .image {
        width: 70%;
        margin: 0 auto; }
        .center .tpia .tppp .image img {
          width: 100%;
          height: 100%; }
      .center .tpia .tppp .zyi {
        width: 100%; }
        .center .tpia .tppp .zyi span {
          display: block;
          font-size: 0.7rem;
          color: #666;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
      .center .tpia .tppp .zyi1 {
        width: 100%; }
        .center .tpia .tppp .zyi1 span:nth-child(1) {
          font-size: 0.55rem;
          color: #ff3362;
          float: left; }
        .center .tpia .tppp .zyi1 span:nth-child(2) {
          font-size: 0.55rem;
          color: #666;
          text-decoration: line-through;
          float: left; }

.header1, .xjxk {
  clear: both;
  width: 100%;
  background: white; }
  .header1 .tut, .xjxk .tut {
    width: 6.5rem;
    position: relative;
    margin: 0 auto; }
    .header1 .tut img, .xjxk .tut img {
      width: 100%; }
    .header1 .tut .zxrm, .xjxk .tut .zxrm {
      display: block;
      font-size: 0.6rem;
      position: absolute;
      top: 0.4rem;
      left: 2.1rem; }
  .header1 .tut1, .xjxk .tut1 {
    clear: both;
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem; }
    .header1 .tut1 .xtt, .xjxk .tut1 .xtt {
      width: 20%;
      display: inline-block;
      margin-right: 0.45rem;
      margin-bottom: 0.5rem; }
      .header1 .tut1 .xtt .xtt1, .xjxk .tut1 .xtt .xtt1 {
        width: 100%;
        position: relative; }
        .header1 .tut1 .xtt .xtt1 img, .xjxk .tut1 .xtt .xtt1 img {
          width: 100%;
          border-radius: 50%; }
        .header1 .tut1 .xtt .xtt1 .NEW, .xjxk .tut1 .xtt .xtt1 .NEW {
          width: 1.5rem;
          height: 0.75rem;
          position: absolute;
          right: 0;
          top: 0;
          background: #f287ac;
          border-radius: 0.5rem;
          font-size: 0.3rem;
          color: white;
          text-align: center;
          line-height: 0.75rem; }
      .header1 .tut1 .xtt span, .xjxk .tut1 .xtt span {
        width: 100%;
        display: block;
        font-size: 0.7rem;
        color: #333;
        text-align: center; }

.xjxk {
  background: none;
  margin-top: 1.9rem;
  margin-bottom: 1.9rem; }

.cbd {
  width: 100%; }
  .cbd .xiamian {
    width: 100%; }
    .cbd .xiamian .zjk {
      width: 90%;
      margin: 1rem auto;
      overflow: hidden; }
      .cbd .xiamian .zjk .qba {
        width: 50%;
        height: 100%;
        float: left;
        background: white;
        margin-right: 0.75rem; }
        .cbd .xiamian .zjk .qba .xiamian1 {
          width: 100%;
          height: 100%; }
          .cbd .xiamian .zjk .qba .xiamian1 .tiy {
            width: 100%;
            height: 100%; }
        .cbd .xiamian .zjk .qba .xiamian2 {
          position: relative;
          width: 100%;
          height: 100%; }
          .cbd .xiamian .zjk .qba .xiamian2 .xin {
            width: 90%;
            margin: 0 auto; }
            .cbd .xiamian .zjk .qba .xiamian2 .xin .xin1 {
              width: 100%; }
              .cbd .xiamian .zjk .qba .xiamian2 .xin .xin1 .xinkuana, .cbd .xiamian .zjk .qba .xiamian2 .xin .xin1 .xinkuana11 {
                font-size: 0.55rem;
                color: #5e5e5e;
                background: #eff3f6; }
            .cbd .xiamian .zjk .qba .xiamian2 .xin .xinkuana1 {
              font-size: 0.65rem;
              color: #5e5e5e;
              font-weight: bold; }
            .cbd .xiamian .zjk .qba .xiamian2 .xin .xinkuana2 {
              position: absolute;
              right: 0.25rem;
              bottom: 0.2rem;
              width: 0.6rem;
              height: 0.6rem; }
            .cbd .xiamian .zjk .qba .xiamian2 .xin .xinkuana3 {
              font-size: 0.55rem;
              color: #5e5e5e;
              position: absolute;
              right: 1rem;
              bottom: 0.1rem; }
      .cbd .xiamian .zjk .qba1 {
        width: 50%;
        height: 100%;
        float: left;
        background: white;
        margin-right: -0.75rem; }
        .cbd .xiamian .zjk .qba1 .xiamian1 {
          width: 100%;
          height: 100%; }
          .cbd .xiamian .zjk .qba1 .xiamian1 .tiy {
            width: 100%;
            height: 100%; }
        .cbd .xiamian .zjk .qba1 .xiamian2 {
          position: relative;
          width: 100%;
          height: 100%; }
          .cbd .xiamian .zjk .qba1 .xiamian2 .xin {
            width: 90%;
            margin: 0 auto; }
            .cbd .xiamian .zjk .qba1 .xiamian2 .xin .xin1 {
              width: 100%; }
              .cbd .xiamian .zjk .qba1 .xiamian2 .xin .xin1 .xinkuana, .cbd .xiamian .zjk .qba1 .xiamian2 .xin .xin1 .xinkuana11 {
                font-size: 0.55rem;
                color: #5e5e5e;
                background: #eff3f6; }
              .cbd .xiamian .zjk .qba1 .xiamian2 .xin .xin1 .xinkuana112 {
                font-size: 0.55rem;
                color: white;
                background: #ff743c; }
            .cbd .xiamian .zjk .qba1 .xiamian2 .xin .xinkuana1 {
              font-size: 0.65rem;
              color: #5e5e5e;
              font-weight: bold; }
            .cbd .xiamian .zjk .qba1 .xiamian2 .xin .xinkuana2 {
              position: absolute;
              right: 1rem;
              bottom: 0.2rem;
              width: 0.6rem;
              height: 0.6rem; }
            .cbd .xiamian .zjk .qba1 .xiamian2 .xin .xinkuana3 {
              font-size: 0.55rem;
              color: #5e5e5e;
              position: absolute;
              right: 1.75rem;
              bottom: 0.1rem; }

.end {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2.75rem;
  background: white;
  border: 0.05rem solid #ccc; }
  .end .sy {
    width: 25%;
    height: 100%;
    margin-top: 0.2rem;
    float: left; }
    .end .sy img {
      width: 1.1rem;
      heihgt: 1.1rem;
      margin-left: 1.4rem;
      text-align: center; }
    .end .sy a {
      text-decoration: none; }
      .end .sy a span {
        font-size: 0.7rem;
        color: #ff5777;
        text-align: center;
        display: block; }
  .end .fl, .end .gwcc, .end .wd {
    width: 25%;
    height: 100%;
    margin-top: 0.2rem;
    float: left; }
    .end .fl img, .end .gwcc img, .end .wd img {
      width: 1.1rem;
      heihgt: 1.1rem;
      margin-left: 1.4rem;
      text-align: center; }
    .end .fl a, .end .gwcc a, .end .wd a {
      text-decoration: none; }
      .end .fl a span, .end .gwcc a span, .end .wd a span {
        font-size: 0.7rem;
        color: #666;
        text-align: center;
        display: block;
        margin-bottom: 0.25rem; }

.dsa {
  width: 100%;
  overflow: hidden;
  background: white;
  margin-bottom: 0.5rem; }
  .dsa .ds1 {
    width: 100%;
    margin-left: 0.5rem;
    color: #333;
    font-size: 0.7rem;
    padding: 0.5rem; }
  .dsa .ds2 {
    width: 100%;
    height: 10rem;
    border-top: 0.05rem solid #ccc;
    border-bottom: 0.05rem solid #ccc; }
    .dsa .ds2 .dss1 {
      width: 50%;
      height: 100%;
      float: left; }
      .dsa .ds2 .dss1 .dss1son {
        font-size: 0.7rem;
        color: #333;
        display: block;
        text-align: center;
        padding-top: 1.15rem; }
      .dsa .ds2 .dss1 .dss1son2 {
        display: block;
        font-size: 0.7rem;
        color: #ff5f7e;
        text-align: center; }
      .dsa .ds2 .dss1 .image1 {
        display: block;
        width: 6.95rem;
        height: 6.95rem;
        margin: 0 auto; }
    .dsa .ds2 .dss2 {
      width: 49%;
      height: 100%;
      float: right;
      border-left: 0.05rem solid #ccc; }
      .dsa .ds2 .dss2 .dss3, .dsa .ds2 .dss2 .dss4 {
        width: 100%;
        height: 50%;
        border-bottom: 0.05rem solid #ccc;
        position: relative; }
        .dsa .ds2 .dss2 .dss3 .dss3son, .dsa .ds2 .dss2 .dss4 .dss3son {
          font-size: 0.7rem;
          color: #333;
          display: block;
          padding-top: 1.15rem;
          padding-left: 0.5rem; }
        .dsa .ds2 .dss2 .dss3 .dss3son1, .dsa .ds2 .dss2 .dss4 .dss3son1 {
          display: block;
          font-size: 0.7rem;
          color: #ff5f7e;
          padding-left: 0.6rem; }
        .dsa .ds2 .dss2 .dss3 .ggx, .dsa .ds2 .dss2 .dss4 .ggx {
          float: right;
          width: 3rem;
          height: 4.5rem;
          position: absolute;
          right: 0;
          bottom: 0.05rem; }
      .dsa .ds2 .dss2 .dss4 {
        border: none; }

.ddd {
  width: 100%; }
  .ddd .ddd1, .ddd .ddd2 {
    width: 30%;
    border-right: 0.05rem solid #ccc;
    float: left;
    padding: 0.25rem; }
    .ddd .ddd1 .ddd1son, .ddd .ddd2 .ddd1son {
      padding-top: 1rem;
      font-size: 0.6rem;
      color: #333;
      display: block;
      text-align: center; }
    .ddd .ddd1 .ddd1son1, .ddd .ddd2 .ddd1son1 {
      font-size: 0.6rem;
      color: #ff5f7e;
      display: block;
      text-align: center; }
    .ddd .ddd1 .ggx1, .ddd .ddd2 .ggx1 {
      display: block;
      width: 5rem;
      height: 4.5rem;
      margin: 0 auto; }
  .ddd .ddd2 {
    border: none;
    padding: none; }

/*# sourceMappingURL=index.css.map */
