@function num($n){
	@return $n/20;
}
*{
	padding:0;
	margin:0;
}
html,body{
	height:100%;
	background:#f6f6f6;
}
.header{
	widht:100%;
	background:white;
	margin-bottom:num(10rem);
	.ssk{
	width:100%;
	height:num(40rem);
	}
	.dhk{
	  width:num(32rem);
	  height:num(30rem);
	  float:left;
	  margin:num(5rem) num(10rem) num(5rem) num(10rem);
	  img{
	  width:100%;
	  height:100%;
	  }
	}
	.lbwx{
	   width:num(215rem);
	   border:num(1rem) solid #eee;
	   float:left;
	   height:num(27rem);
	   position:relative;
	   background:#eee;
	   margin-top:num(5rem);
	   .tp{
	     width:num(15rem);
	     height:num(15rem);
	     float:left;
	     margin-left:num(10rem);
		     img{
		     width:100%;
		     height:100%;
		     }
	     }
	     input{
	     position:absolute;
	     background:#eee;
	     right:0;
	     bottom:0;
	     float:right;
	     height:num(24rem);
	     width:num(185rem);
	     border:none;
	     outline:none;
          }
        }
           .gwc{
            width:num(22rem);
            height:num(21rem);
            float:right;
            margin-top:num(8rem);
            margin-right:num(15rem);
            
            img{
            width:100%;
            height:100%;
            }
	 } 
	 .dtu{
	   width:100%;
	   height:100%;
	   img{
	   width:100%;
	   height:100%;
	   }
	 }
	 .dsk{
	   width:100%;
	   .dyk{
	     width:30%;
	     float:left;
	     color:#ff9954;
	     font-size:num(12rem);
	     text-align:center;
	     margin-left:num(7rem);
	   }
	 }
	 .dpp{
	 clear:both;
	 width:100%;
	 .dpa{
	   display:inline-block;
	   width:30%;
	   margin-left:num(5rem);
	   border-right:num(1rem) solid #ccc;
       span{
        display:block;
        font-size:num(12rem);
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        text-align:center;
       }
       img{
        width:100%;
        height:100%;
       }
	 }
	 .dpa1{
	   @extend .dpa;
	   border:none;
	 }
 }
}
.center{
	width:100%;
	background:white;
	overflow:hidden;
	margin-bottom:num(10rem);
	.center1{
	 width:90%;
	 margin:0 auto;
	 .ziti{
	  span{
	    font-size:num(14rem);
	    float:left;
	    margin-right:num(10rem);
	    margin-top:num(5rem);
	  }
	  span:nth-child(2){
	   display:block;
	   width:num(3rem);
	   height:num(3rem);
	   background:black;
	   margin-top:num(15rem);
	  }
	  }
	  #djs{
	    color:#ccc;
        #sp1{
        font-size:num(14rem);
        color:white;
	    float:left;
	    margin-right:num(10rem);
	    margin-top:num(5rem);
	    background:black;
	    border-radius:num(5rem);
	    width:num(22rem);
	    height:num(20rem);
	    text-align:center;
	    line-height:num(20rem);
        }
        .spp1{
         float:left;
         margin-left:num(-8rem);
        }
        #sp2{
         @extend #sp1;
        }
        #sp3{
         @extend #sp1;
        }
	  }
	  .mode{
	   float:right;
	   width:num(42rem);
	   height:num(10rem);
	   img{
	     width:100%;
	     height:100%;
	   }
	  }
	}
	.tpia{
	 width:100%;
	 overflow:hidden;
		.tppp{
		  margin-left:num(10rem);
		  margin-top:num(10rem);
		  margin-bottom:num(10rem);
		  width:30%;
		  float:left;
			  .image{
			  width:70%;
			  margin:0 auto;
			   img{
			   width:100%;
			   height:100%;
			   }
			 }
		  .zyi{
		  width:100%;
		  span{
		    display:block;
		    font-size:num(14rem);
		    color:#666;
		    white-space:nowrap;
		    overflow:hidden;
		    text-overflow:ellipsis;
		  }
	  }
	  .zyi1{
	    width:100%;
	    span:nth-child(1){
          font-size:num(11rem);
          color:#ff3362;
          float:left;
           }
           span:nth-child(2){
          font-size:num(11rem);
          color:#666;
          text-decoration:line-through;
          float:left;
           }
	     }
	  }
}

}


.header1{
   clear:both;
    width:100%;
    background:white;
    .tut{
        width:num(130rem);
        position:relative;
        margin:0 auto;
        img{
        width:100%;
        }
	    .zxrm{
	    display:block;
		font-size:num(12rem);
		position:absolute;
        top:num(8rem);
        left:num(42rem);
		}
	}
	.tut1{
	  clear:both;
	  width:90%;
	  margin:0 auto;
	  margin-top:num(20rem);
	  .xtt{
	     width:20%;
	     display:inline-block;
	     margin-right:num(9rem);
	     margin-bottom:num(10rem);
	     .xtt1{
	       width:100%;
	       position:relative;
	       img{
	       width:100%;
           border-radius:50%;
           }
           .NEW{
             width:num(30rem);
             height:num(15rem);
             position:absolute;
             right:0;
             top:0;
             background:#f287ac;
             border-radius:num(10rem);
             font-size:num(6rem);
             color:white;
             text-align:center;
             line-height:num(15rem);
           }
	     }
	     span{
	       width:100%;
	       display:block;
           font-size:num(14rem);
           color:#333;
           text-align:center;
	     }
	  }

	}
}
.xjxk{
	@extend .header1;
	background:none;
	margin-top:num(38rem);
	margin-bottom:num(38rem);
}
.cbd{  
       width:100%;
    .xiamian{
		width:100%;
			 .zjk{
	            width:90%;
	         	margin:num(20rem) auto;
	         	overflow:hidden;
		         	.qba{
					width:50%;
					height:100%;
					float:left;
					background:white;
					margin-right:num(15rem);
						.xiamian1{
						width:100%;
						height:100%;
						.tiy{
						width:100%;
						height:100%;
						}
					}
					.xiamian2{
						position:relative;
					    width:100%;
					    height:100%;
					  .xin{
					    width:90%;
					    margin:0 auto;
					  .xin1{
					     width:100%;
					    .xinkuana{
			            font-size:num(11rem);
			            color:#5e5e5e;
			            background:#eff3f6;
					    }
					    .xinkuana11{
					   @extend .xinkuana;
					}
					    }
					.xinkuana1{
						font-size:num(13rem);
			            color:#5e5e5e;
			            font-weight:bold;
					   }
					.xinkuana2{
						position:absolute;
						right:num(5rem);
						bottom:num(4rem);
						width:num(12rem);
						height:num(12rem);
					}
					.xinkuana3{
						font-size:num(11rem);
			            color:#5e5e5e;
			            position:absolute;
						right:num(20rem);
						bottom:num(2rem);
					    }
		            }
		
	        }
    }

			.qba1{
					width:50%;
					height:100%;
					float:left;
					background:white;
					margin-right:num(-15rem);
					.xiamian1{
						width:100%;
						height:100%;
						.tiy{
						width:100%;
						height:100%;
						}
					}
					.xiamian2{
						position:relative;
					    width:100%;
					    height:100%;
					  .xin{
					    width:90%;
					    margin:0 auto;
					  .xin1{
					     width:100%;
					    .xinkuana{
			            font-size:num(11rem);
			            color:#5e5e5e;
			            background:#eff3f6;
					    }
					     .xinkuana112{
			            font-size:num(11rem);
			            color:white;
			            background:#ff743c;
					    }
					    .xinkuana11{
					   @extend .xinkuana;
					}
					    }
					.xinkuana1{
						font-size:num(13rem);
			            color:#5e5e5e;
			            font-weight:bold;
					   }
					.xinkuana2{
						position:absolute;
						right:num(20rem);
						bottom:num(4rem);
						width:num(12rem);
						height:num(12rem);
					}
					.xinkuana3{
						font-size:num(11rem);
			            color:#5e5e5e;
			            position:absolute;
						right:num(35rem);
						bottom:num(2rem);
					    }
		            }
		
	        }
    }
	}
	}
	}

	.end{
	position:fixed;
	right:0;
	bottom:0;
	width:100%;
	height:num(55rem);
	background:white;
	border:num(1rem) solid #ccc;
	.sy{
	  width:25%;
	  height:100%;
	  margin-top:num(4rem);
	  float:left;

	  img{
	  width:num(22rem);
	  heihgt:num(22rem);
      margin-left:num(28rem);
	  text-align:center;
	  }
	  a{
	  text-decoration:none;
	  span{
	  font-size:num(14rem);
	  color:#ff5777;
	  text-align:center;
	  display:block;
	  }
	  }
	}
	.fl{
	  width:25%;
	  height:100%;
	  margin-top:num(4rem);
	  float:left;
	  img{
	  width:num(22rem);
	  heihgt:num(22rem);
      margin-left:num(28rem);
	  text-align:center;
	  }
	   a{
	  text-decoration:none;
	  span{
	  font-size:num(14rem);
	  color:#666;
	  text-align:center;
	  display:block;
	  margin-bottom:num(5rem);
	  }
	  }
	}
	.gwcc{
	@extend .fl;
	}
	.wd{
	@extend .fl;
	}
}
.dsa{
	width:100%;
	overflow:hidden;
	background:white;
	margin-bottom:num(10rem);
      .ds1{
      width:100%;
      margin-left:num(10rem);
      color:#333;
      font-size:num(14rem);
      padding:num(10rem);
     }
     .ds2{
      width:100%;
      height:num(200rem);
      border-top:num(1rem) solid #ccc;
      border-bottom:num(1rem) solid #ccc;
      .dss1{
      width:50%;
      height:100%;
      float:left;
        .dss1son{
          font-size:num(14rem);
          color:#333;
          display:block;
          text-align:center;
          padding-top:num(23rem);
        }
        .dss1son2{
          display:block;
          font-size:num(14rem);
          color:#ff5f7e;
          text-align:center;
        }
        .image1{
          display:block;
          width:num(139rem);
          height:num(139rem);
          margin:0 auto;
        }
        }
         .dss2{
          width:49%;
          height:100%;
          float:right;
          border-left:num(1rem) solid #ccc;
          .dss3{
          width:100%;
          height:50%;
          border-bottom:num(1rem) solid #ccc;
          position:relative;
          .dss3son{
          font-size:num(14rem);
          color:#333;
          display:block;
          padding-top:num(23rem);
          padding-left:num(10rem);
       }
       .dss3son1{
          display:block;
          font-size:num(14rem);
          color:#ff5f7e;
          padding-left:num(12rem);
       }
       .ggx{
        float:right;
        width:num(60rem);
        height:num(90rem);
        position:absolute;
        right:0;
        bottom:num(1rem);
       }
        }
         .dss4{
          @extend .dss3;
          border:none;
        }
        }
      }

		}
       .ddd{
       	width:100%;
        .ddd1{
        width:30%;
        border-right:num(1rem) solid #ccc;
        float:left;
        padding:num(5rem);
        .ddd1son{
            padding-top:num(20rem);
            font-size:num(12rem);
          color:#333;
          display:block;
          text-align:center;
      }
      .ddd1son1{
        font-size:num(12rem);
        color:#ff5f7e;
        display:block;
        text-align:center;
      }
      .ggx1{
        display:block;
        width:num(100rem);
        height:num(90rem);
        margin:0 auto;
      }
      }
       .ddd2{
        @extend .ddd1;
        border:none;
        padding:none;
      }
  }