@function num($n){
	@return $n/20;
}
*{
	padding:0;
	margin:0;
}
html,body{
	height:100%;
}
.header{
	width:100%;
	height:num(40rem);
	border:num(1rem) solid #c9c7c8;
	box-sizing:border-box;
	background:#fafafa;
	position:relative;
	img{
		width:num(14rem);
		height:num(14rem);
		float:left;
		margin-left:num(16rem);
		margin-top:num(14rem);
	}
	.span1{
	    display:block;
	    font-size:num(18rem);
	    color:#5e5e5e;
	    font-weight:bold;
	    text-align:center;
	    padding-right:num(15rem);
	    line-height:num(40rem);
	}
}
.degg{
    width:90%;
    height:num(91rem);
    margin:0 auto;
	p{
       margin-left:num(110rem);
       padding-top:num(28rem);
       color:#9999a5;
	}
	span:nth-child(2){
	   margin-left:num(105rem);
	   font-size:num(21rem);
	}
	span:nth-child(3){
	   color:#9999a5;
	   font-size:num(18rem);
	}
	span{
	    display:block;
	    padding-top:num(28rem);
	    text-align:center;
	    display:inline-block;
	}
	img{
	   width:num(11rem);
	   height:num(20rem);
	   float:right;
	   padding-top:num(30rem);
	}
}
.center{
	width:100%;
	height:num(98rem);
	margin-top:num(42rem);
    p{  
        font-size:num(13rem);
        color:#666;
        text-align:center;
        line-height:num(56rem);
    } 
    input{
	     width:90%;
		 font-size:num(22rem);
		 border:none;
		 outline:none;
		 text-align:center;
		 color:#333;
		 margin-left:num(16rem);
		 border-bottom:num(1rem) solid #ededed;
    	 }
    	 input::-webkit-input-placeholder{
		   color:#ededed;
		 }	 
}
.center1{
	@extend .center;
	margin-top:num(-5rem);
	input{
	  width:num(145rem);
	  text-algin:center;
	  padding-left:num(55rem);
	}
	span{
	   font-size:num(15rem);
	   color:#ff68a3;
       margin-right:num(15rem);
	}
}
#zc{
	width:90%;
	margin:0 auto;
	width:100%;
	height:num(42rem);
	background:#ff1877;
	font-size:num(13rem);
	text-align:center;
	line-height:num(42rem);
	color:#fff;
	border-radius:num(5rem);
}
.mmzc{
	width:90%;
	height:num(15rem);
	margin:num(16rem) auto;
	a:nth-child(1){
	   float:left;
	   font-size:num(12rem);
	   color:#ff5777;
	   text-decoration:none;
	}
	a:nth-child(2){
	   float:right;
	   text-decoration:none;
	   color:#ff5777;
	   font-size:num(12rem);
	}
}
.or{   
    width:100%;
    margin-top:num(23rem);
	.xian{
	    display:block;
	    width:num(132rem);
        border-bottom:num(1rem) solid #f1f1f1;
        display:inline-block;
        margin-left:num(16rem);
	}
	.or1{
	    color:#f1f1f1;
	    font-size:num(10rem);
	}
	.xian1{
       @extend .xian;
	}
}
.end{
	width:num(91rem);
	height:num(89rem);
	margin:num(10rem) auto;
	img{
	   @extend .end;
	}
}